:root {
    --mainColor: white;
    --secondaryColor: #6F3096;
    --tertiaryColor: #06114F;
    --mainTextColor: #06114F;
    --secondarytextColor: #252F65;
}

.text-center {
    text-align: center;
    padding: 1.5rem;
    border: 1px var(--secondarytextColor) solid;
    width: 70%;   
    font-size: 1rem; 
    border-radius: 5px;
    margin-top: 0.5rem;
}

.dropzone-content {
    font-family: Merriweather;
    color: var(--mainTextColor)
}