:root {
    --mainColor: white;
    --secondaryColor: #6F3096;
    --tertiaryColor: #06114F;
    --mainTextColor: #06114F;
    --secondarytextColor: #252F65;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: var(--tertiaryColor);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--mainColor);
    font-size: 1rem;
}

.footer-img {
    

}

.facebook-img {
    padding-right: 1.1rem;
    margin-bottom: 0.06rem;
}

.instagram-img {
    padding-left: 1rem;
}