:root {
    --mainColor: white;
    --secondaryColor: #6F3096;
    --tertiaryColor: #06114F;
    --mainTextColor: #06114F;
    --secondarytextColor: #252F65;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: var(--tertiaryColor);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--mainColor);
    font-size: 1rem;
}

.footer-img {
    

}

.facebook-img {
    padding-right: 1.1rem;
    margin-bottom: 0.06rem;
}

.instagram-img {
    padding-left: 1rem;
}

@media screen and (max-width: 768px) {
    .footer {
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: var(--tertiaryColor);
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: var(--mainColor);
        font-size: 0.8rem;
    }

    .facebook-img {
        width: 15%;
        height: auto;
        margin-bottom: 0.06rem;
    }

    .instagram-img {
        width: 15%;
        height: auto;
    }

    .twitch-img {
        margin-top: 0.06rem;
        width: 7%;
        height: auto;
    }
}