* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Merriweather, sans-serif;
}

:root {
    --mainColor: white;
    --secondaryColor: #6F3096;
    --tertiaryColor: #06114F;
    --mainTextColor: #06114F;
    --secondarytextColor: #252F65;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    color: var(--mainTextColor);
}

.logo-name {
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    margin-left: 1.5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-button {
    text-decoration: none;
    color: var(--mainTextColor);
    border: 0px;
    outline: 0px;
    background-color: var(--mainColor);
    margin-top: 1.5rem;
    margin-right: 4rem;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    font-weight: 300;
}

.toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--tertiaryColor);
    border-radius: 10px;
}

@media (max-width: 768px) {
    .toggle-button {
        display: flex;
        margin-top: 1.3rem;
        margin-right: 1.3rem;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: var(--secondaryColor);
    }

    .navbar-links li {
        text-align: center;
        
    }

    .navbar-links li button {
        background-color: var(--secondaryColor);
        color: var(--mainColor);
        font-size: 0.8rem;
        margin: 0.8rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}


